@import 'tailwindcss';

html {
  
}

.helenelundDotOrg {
  font-family: "Changa", Times, serif;
}

.skola77{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.archiveGrid div{
  cursor: pointer;
}

.archiveGrid div:hover{
  transform: scale(1.10);
}

.archiveGrid div h2 {
  margin-top: 8px;
}